extends layout

block content
  //- form(action="/" method="POST")
  //-   label(for="name") Name:
  //-   input(
  //-     type="text"
  //-     id="name"
  //-     name="name"
  //-   )

  //-   label(for="email") Email:
  //-   input(
  //-     type="email"
  //-     id="email"
  //-     name="email"
  //-   )

  //-   input(type="submit" value="Submit")

block dateContent
  form(action='/leaveAt', method="POST", class="date-location-chooser")

    label(for="leave-at-text") I want to leave at...
    |
    //- Month Dropdown
    label(for='monthLabel') Months 
      select(name='monthChosen', id='')
        each month in Months
            //- option=month
            option(value=month, selected=(month==preselectedMonth)) #{month}
    
    //- Day Dropdown
    label(for='dayLabel') Day 
      select(name='dayChosen', id='')
        each day in Days
            option(value=day, selected=(day==preselectedDay)) #{day}

    //- Year Dropdown
    label(for='yearLabel') Year 
      select(name='yearChosen', id='')
        each year in Years
            option(value=year, selected=(year==preselectedYear)) #{year}

    //- Hour Dropdown
    label(for='hourLabel') Hour 
      select(name='hourChosen', id='')
        each hour in Hours
            option(value=hour, selected=(hour==preselectedHour)) #{hour}

    //- Minute Dropdown
    label(for='minuteLabel') Minute 
      select(name='minuteChosen', id='')
        each minute in Minutes
            option(value=minute, selected=(minute==preselectedMinute)) #{minute}

    | I will be boarding the shuttle bus at...

    //- Campus Radio Buttons
    input(type="radio", name="busStop", value="UTSG", checked=(true==preselectedUTSG))
    | UTSG
    input(type="radio", name="busStop", value="UTM", checked=(true==preselectedUTM))
    | UTM

    input(type='submit', value='Calculate', class="btn btn-lg btn-primary btn-block")


block leaveNow
  label(for="leave-now-text") I need to get to the bus ASAP!
  form(action='/leaveNow', method="POST", class="date-location-chooser")
    input(type='submit', value='Get me the next bus NOW', class="btn btn-lg btn-primary btn-block")

